@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;


/* From Uiverse.io by adamgiebl */ 
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  /* border: 1px solid red; */
  transition: 0.3s;
}
.container {
  max-width: 1274.5px;
  margin: 0 auto;
}
.body {
  background-color: #fcfcff;
}
.typed-cursor {
  
  color: #02c37e !important;
}
.detail__back-btn button {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #02c37e;
    border-radius: 40px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
}
.detail__back-btn  button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
 }
 .detail__back-btn button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
 }
 .detail__back-btn button:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
 }
 
.navbar__logo::after {
  content: "";
  position: absolute;
  color: black;
  top: 125px;
  left: 27px;
  font-weight: bold;
}
@media (max-width: 820px) {
  .navbar__logo::after {
    content: "1tech.uz";
    position: absolute;
    color: black;
    top: 100px;
    left: 15px;
    font-weight: bold;
  }
}
@media (max-width: 450px) {
  .navbar__logo::after {
    content: "";
    position: absolute;
    color: black;
    top: 100px;
    left: 15px;
    font-weight: bold;
  }
  .navbar__logo {
    height: 50px;
    width: 50px;
    right: 7px;
  }
  .navbar__logo img{
    padding: 7px;
    border: 1px solid black;
  }
}

@media (max-width: 377px) {
  #search_list {
    width: 240px !important;
  }
}
